@model List<EducationDetailViewModel>
<ul class="list">
    @foreach (var education in Model)
    {
        <li>
            <span></span>
            <div class="media">
                <div class="d-flex">
                    <p>@education.StartDate.ToCustomString() to @(education.EndDate.ToString() != "1/1/0001" ? education.EndDate.ToCustomString() : "present")</p>
                </div>
                <div class="media-body">
                    <h4>@education.InstitutionName</h4>
                    <p>@education.FieldOfStudy <br />@education.Degree</p>
                </div>
            </div>
        </li>
    }


</ul>