@model FilterUserViewModel

@{
    ViewData["Title"] = "List Users";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Dashboard</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">User</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Users</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Users</h4>
                            <button class="btn btn-primary btn-round ms-auto"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Add User
                            </button>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="header">
                            <h2>
                                Fillter
                            </h2>
                        </div>
                        <div class="body">
                            <form method="get" asp-route="/admin/users" id="filter-search">
                                <input type="hidden" asp-for="Page" />
                                <div class="row clearfix">
                                    <div class="col-sm-12  col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" asp-for="Email">
                                                <label class="form-label" asp-for="Phone"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" asp-for="Email">
                                                <label class="form-label" asp-for="Email"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade"
                             id="addRowModal"
                             tabindex="-1"
                             role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold"> New</span>
                                            <span class="fw-light"> Row </span>
                                        </h5>
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="small">
                                            Create a new row using this form, make sure you
                                            fill them all
                                        </p>
                                        <form asp-route="/admin/users" method="get">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Name</label>
                                                        <input id="addName"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pe-0">
                                                    <div class="form-group form-group-default">
                                                        <label>Position</label>
                                                        <input id="addPosition"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill position" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Office</label>
                                                        <input id="addOffice"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="fill office" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button"
                                                id="addRowButton"
                                                class="btn btn-primary">
                                            Add
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            @if (Model != null && Model.Entities != null && Model.Entities.Any())
                            {
                                <table id="add-row"
                                       class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>LastName</th>
                                            <th>Phone Number</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>LastName</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>BirthDate</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.Entities)
                                        {
                                            <tr>
                                                <td>@item.FirstName </td>
                                                <td>@item.LastName </td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td>@item.BirthDate</td>
                                
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="admin">
                                                        <button  type="button"
                                                                data-bs-toggle="tooltip"
                                                                title=""
                                                                class="btn btn-link btn-primary btn-lg"
                                                                data-original-title="Edit Task">
                                                            <i class="fa fa-edit"></i>
                                                        </button></a>
                                                        <a href="admin">
                                                        <button href="admin" type="button"
                                                                data-bs-toggle="tooltip"
                                                                title=""
                                                                class="btn btn-link btn-danger"
                                                                data-original-title="Remove">
                                                            <i class="fa fa-times"></i>
                                                        </button></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />

                            }
                            else
                            {
                                <partial name="_AdminNotFound" />

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>