@model FilterCategoryViewModel
@{
    ViewData["Title"] = "Categories";
    var result = ViewData["result"] as OutPutModel<bool>;

}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Dashboard</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">categories</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">categories</a>
                </li>
            </ul>
        </div>
        <div class="row">
            @if (result is not null)
            {
                <script>

                    $(document).ready(function () {
                        swal("@(result.StatusCode == 200 ? "success" : "error")", "@result.Message", {
                            icon: "@(result.StatusCode == 200 ? "success" : "error")",
                            buttons: {
                                confirm: {
                                    className: "btn @(result.StatusCode == 200 ? "btn-success" : "btn-danger") ",
                                },
                            },
                        });
                    });
                </script>
            }

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">category</h4>
                            <a href="/admin/categories/create" class="btn btn-primary btn-round ms-auto"
                                <i class="fa fa-plus"></i>
                                Add category
                            </a>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="header">
                            <h2>
                                Fillter
                            </h2>
                        </div>
                        <div class="body">
                            <form method="get" asp-route="/admin/categories" id="filter-search">
                                <input type="hidden" asp-for="Page" />
                                <div class="row clearfix">

                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" class="form-control" asp-for="Title">
                                                <label class="form-label" asp-for="Title"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade"
                             id="addRowModal"
                             tabindex="-1"
                             role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold"> New</span>
                                            <span class="fw-light"> category </span>
                                        </h5>
                                        <button type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="create" method="post">

                                        <div class="modal-body">
                                            <p class="small">
                                                Create a new row using this form, make sure you
                                                fill them all
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group form-group-default">
                                                        <label>Name</label>
                                                        <input id="addName" name="Name"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="skill name" />
                                                    </div>
                                                </div>
                                                <div class="col-md-8 pe-0">
                                                    <div class="form-group form-group-default">
                                                        <label>Level</label>
                                                        <input id="addPosition" name="Level"
                                                               type="number"
                                                               max="100"
                                                               min="0"
                                                               class="form-control"
                                                               placeholder="level" />
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="modal-footer border-0">
                                            <button type="button"
                                                    class="btn btn-primary">
                                                Add
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            @if (Model != null && Model.Entities != null && Model.Entities.Any())
                            {
                                <table id="add-row"
                                       class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.Entities)
                                        {
                                            <tr>
                                                <td>@item.Title </td>
                                                <td>@item.Description </td>


                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="/admin/categories/update/@item.CategoryId">
                                                            <button type="button"
                                                                    data-bs-toggle="tooltip"
                                                                    title=""
                                                                    class="btn btn-link btn-primary btn-lg"
                                                                    data-original-title="Edit Task">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                        </a>
                                                        <a href="/admin/categories/delete/@item.CategoryId">
                                                            <button id="alert_demo_8" type="button" value="@item.CategoryId"
                                                                    data-bs-toggle="tooltip"
                                                                    title=""
                                                                    class="btn btn-link btn-danger"
                                                                    data-original-title="Remove">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />

                            }
                            else
                            {
                                <partial name="_AdminNotFound" />

                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>